.card {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.green { background: #c0ecbd; }
.yellow { background: #c7cd8a; }
.red { background: #dd6f78; }

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
  padding: 6px;
}

@media print {
  button, a {
    display: none;
  }
}