.card {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.green { background: #92e88b; }
.yellow { background: #cad367; }
.red { background: #f57984; }

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
  padding: 6px;
}

@media print {
  button, a {
    display: none;
  }
}